@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bine ati venit pe pagina noastra!</h1>
    <br />
        <br />
    <br />
        <br />
 
    <br />

    <br />

    <h3>Detaliile noastre</h3>
    <p>

        Acest site web este deținut și administrat de SC Mihaela's Shop S.A.

        Sediul nostru social este situat pe Strada Calea Chișinăului, Nr. 32, Cod Poștal 700180, Cluj-Napoca, România.

        Sediul central este situat pe Strada Calea Chișinăului, Nr. 32, Cod Poștal 700180, Cluj-Napoca, România.</a>.
    </p>
</div>
