@{
    ViewData["Title"] = "Politica de Confidentialitate";
}
<h1>@ViewData["Title"]</h1>

<br />
<br />
<br />

<h5><b>Introducere</b></h5>
<br />
<br />

<p>1.1 Ne angajăm să protejăm confidențialitatea vizitatorilor acestui site web. </p>
<p>
    1.2 Această politică se aplică atunci când acționăm în calitate de operator de date în ceea ce privește datele cu caracter personal ale
    acestor persoane; cu alte cuvinte, atunci când stabilim scopurile și mijloacele de prelucrare a acestor date cu caracter personal.
</p>
<p>
    1.3 Acest site web încorporează controale de confidențialitate care afectează modul în care vom prelucra datele personale. Utilizând controalele de confidențialitate,
    puteți limita colectarea și partajarea datelor personale. Puteți accesa controalele de confidențialitate prin bara de notificare a cookie-urilor.
</p>
<p>
    1.4 Folosim cookie-uri pe acest site web. În măsura în care aceste cookie-uri nu sunt strict necesare pentru furnizarea acestui site web, vă vom cere să acceptați
    utilizarea de cookie-uri atunci când vizitați prima dată acest site web.
</p>
<br />
<br />
<h5><b>Datele personale pe care le colectăm </b></h5>
<br />
<br />

<p>
    2.1 Putem prelucra date care să ne permită să luăm legătura cu dumneavoastră. („date de contact”). Datele de contact pot include numele dumneavoastră,
    adresa de e-mail, numărul de telefon, adresa poștală și/sau identificatorii contului de social media. Sursa datelor de contact sunteți dumneavoastră.


</p>
<p>
    2.2 Putem procesa informațiile conținute sau referitoare la orice comunicare pe care o trimiteți sau pe care o trimitem noi („date de comunicare”).
    Datele comunicării pot include conținutul comunicării și metadatele asociate comunicării. Site-ul nostru web va genera metadatele asociate comunicărilor făcute
    utilizând formularele de contact ale site-ului web.
</p>





