@model IEnumerable<Proiect2.Models.PhoneViewModels.OrderGroup>
@{
    ViewData["Title"] = "Ordered Phones Statistics";
}
<h2>Ordered Phones Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered Phones
        </th>
        <th>
            Price
        </th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.OrderDate)
    </td>
    <td>
        @item.PhoneCount
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
</tr>
    }
</table>